.hash1 {

	color: #8D81FF;
	width: 31px;
	height: 34px;
	top: -360px;
	left: -746px;
	margin: 20px 30px 15px 20px;

}
.imiji {
	width: 447px;
	height: 280px;
	margin: 0px 30px 15px 20px;
	display: inline-block;
}
.pirveli {
	background-color: #5012D5;
	color:#84FF81;
	width: 20px; 
	height: 20px;
	padding: 15px 15px;
	margin: 20px 30px 15px 20px;
}
.hash2 {
	color: #4E6FAE;
	margin: 20px 30px 15px 20px;
	font-family: "ALK Life", sans-serif;
	font-size: 22px;
	font-family: "Arial GEO Bold", sans-serif;



}
.pi1 {
	display: inline-block;
	vertical-align: top;
  width: 778px;
  height: 280px;  
  font-size: 20px;
  color: #4E6FAE;
  font-family: "ALK Tall Mtavruli", sans-serif;


}
.meore {
	background-color: #5012D5;
	color: #84FF81;
	width: 20px;
	height: 20px;
	padding: 15px 15px;
	margin: 20px 30px 15px 20px;
}
.hash3 {
	color: #8D81FF;
	width: 31px;
	height: 31px;
	margin: 20px 30px 15px 20px;
}
.hash4 {
	width: 466px;
	height: 34px;
	color: #4E6FAE;
	margin: 20px 30px 0px 20px;
	font-family: "Arial GEO Bold", sans-serif;

}
.imiji1 {
	width: 447px;
	height: 280px;
	margin: 0px 30px 15px 20px;
	display: inline-block;
}
.pi2 {
	width: 778px;
	height: 280px;
	font-size: 22px;
	color: #4E6FAE;
	top: 380px;
	left: -244px;
	display: inline-block;
	vertical-align: top;
	font-family: "ALK Life", sans-serif;

}
.mesame {
		background-color: #5012D5;
	color: #84FF81;
	width: 20px;
	height: 20px;
	padding: 15px 15px;
	margin: 20px 30px 15px 20px;
}
.hash5 {
		color: #8D81FF;
	width: 31px;
	height: 31px;
	margin: 20px 30px 15px 20px;
}
.hash6 {
	width: 466px;
	height: 34px;
	color: #4E6FAE;
	margin: 20px 30px 0px 20px;
	font-family: "Arial GEO Bold", sans-serif;

}
.imiji2 {
	width: 447px;
	height: 280px;
	margin: 0px 30px 15px 20px;
}
.pi3 {
	width: 778px;
	height: 280px;
	size: 10px;
	color: #4E6FAE;
	top: 380px;
	left: -244px;
	vertical-align: top;
	padding: 20px;
	font-family: "BPG Mrgvlovani", sans-serif;
	font-size: 20px;

}
.imiji3 {
	width: 50px;
	height: 50px;
	display: inline-block;
	margin: 100px 0px 0px 0px;
}
.imiji4 {
	width: 48px;
	height: 0px;
	display: inline-block;
}
.imiji5 {
	width: 71px;
	height: 49px;
	display: inline-block;
	margin: 100px 0px 0px 0px;
}
.imiji6 {
	display: inline-block;
	width: 223px;
	height: 58px;
	margin: 0, 50px;
}
.a1 {
	display: inline-block;
	width: 115px;
	height: 34px;
	margin: 0px 50px;
	font-family: "BPG Mrgvlovani", sans-serif;
	color: blueviolet;

}
.a2 {
	display: inline-block;
	width: 150px;
	height: 34px;
	margin: 0px 50px;
	font-family: "BPG Mrgvlovani", sans-serif;
	color: blueviolet;
	size: 80px;
}
.a3 {
	display: inline-block;
	width: 133px;
	height: 34px;
	margin: 0px 50px;
	font-family: "BPG Mrgvlovani", sans-serif;
	color: blueviolet;
}
nav {
	display: inline-block;
	margin: 0, 5opx;
}
a {
	text-decoration: none;
}
.imiji8 {
	width: 1052px;
	height: 462px;
	margin: 70px;
}
.hash7 {
	width: 150px;
	height: 34px;
	top: 255px;
	left: 885px;
	display: inline-block;
	color: #4E6FAE;
	margin: 15px 15px 15px 70px;
}
.hash8 {
	width: 484px;
	height: 34px;
	top: 255px;
	left: 885px;
	display: inline-block;
	color: #4E6FAE;
	margin: 15px 15px 15px 70px;
}
.imiji9 {

	margin: 15px 50px 15px 70px;
}
.imiji10 {
	margin: 15px 10px;
}
.imiji11 {
	width: 50px;
	height: 50px;
	display: inline-block;
	margin: 100px 50px 0px 70px;
}
.imiji12 {
	display: inline-block;
	width: 223px;
	height: 58px;
	margin: 100px 50px 0px 70px;
	display: inline-block;
}
.hash9 {
	width: 474px;
height: 34px;
top: -288px;
left: 2324px;

color: #4E6FAE;


}
.hash10 {
	width: 307px;
height: 24px;
top: -227px;
left: 2324px;

color: #3F4145;

}
.hash11 {
	width: 217px;
height: 34px;
top: -180px;
left: 2324px;

color: #3F4145;
}
.hash12 {
	width: 434px;
height: 34px;
top: -135px;
left: 2324px;

color: #3F4145;
}
.mexute {
	display: inline-block;
	background-color:#E7E7E7;
	width: 1660px;
height: 735px;
top: -381px;
left: 2162px;
}
.map {
	display: inline-block;
}